<?xml version="1.0"?>
<config>
    <modules>
        <FireGento_Conferences>
            <version>0.1.0</version>
        </FireGento_Conferences>
    </modules>
    <global>
        <models>
            <firegento_conferences>
                <class>FireGento_Conferences_Model</class>
                <resourceModel>firegento_conferences_resource</resourceModel>
            </firegento_conferences>
            <firegento_conferences_resource>
                <class>FireGento_Conferences_Model_Resource</class>
            </firegento_conferences_resource>
        </models>
        <blocks>
            <firegento_conferences>
                <class>FireGento_Conferences_Block</class>
            </firegento_conferences>
        </blocks>
        <helpers>
            <firegento_conferences>
                <class>FireGento_Conferences_Helper</class>
            </firegento_conferences>
        </helpers>
    </global>
    <frontend>
        <routers>
            <firegento_conference>
                <use>standard</use>
                <args>
                    <frontName>conference</frontName>
                    <module>FireGento_Conferences</module>
                </args>
            </firegento_conference>
        </routers>
    </frontend>
</config>